

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.modal {
  background-color: white;
  color: black;
  width: 300px;
  margin-top: 2%;
  padding: 20px 10px 20px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1050;
}

.modalContent {
  flex-direction: column;
}

.closeButton {
  color: #1a1a1a;
  background-color: #ffffff;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.modalContent div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modalContent img {
  margin-right: 10px;
}

.nav {
  display: flex;
  gap: 24px;
  width: 100%;
}

.countryTitle {
  gap: 5%;
}

.country {
  padding-bottom: 5%;
}
.countrySwitch h2 {
  margin-bottom: 8px;
}

.countryDropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.countryDropdown option {
  display: flex;
  align-items: center;
  padding: 5px 0;
  color: black;
}

.countryDropdown img {
  margin-right: 10px;
}

.headerBanner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
   padding-right: 100px;
  padding-left: 20px; 
  width: 100%;
}

.bannerText {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.countrySwitchTitle {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.ctaText {
  display: flex;
  justify-content: center;
  width: 100%;
}

.countrySwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countrySwitch button{
  background-color: white;
  border: none;
}
.footer {
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
.navigationMenu {
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menuItem {
  position: relative;
}

.menuItem a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: black;
  transition: color 0.3s ease;
}



.submenu {
  position: fixed;
  display: none;
  flex-wrap: wrap;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 71.5px;
  left: -60px;
  z-index: 1000;
  width: 220vh;
  justify-content: center;
  gap: 20px;
}

.menuItem:hover .submenu {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.column a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  padding: 5px 0;
  transition: background-color 0.3s ease;
}



.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}



.banners {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 120px;
  padding-bottom: 40px;
}

.banners img {
  max-width: 400px;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.banners img:hover {
  transform: scale(1.05);
}

/* Level-specific styles */
.level-1 {
  margin: 0;
  padding: 0;
  line-height: 16px;
  letter-spacing: 0.34px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-family: AzoSansRegular;
  text-decoration: none;
}

.level2 {
  color: rgb(0, 0, 0) !important;
  font-size: 11px !important;
  margin-left: 0px;
  padding: 5px;
  margin:5px !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;

}
.level3 {
  color: rgb(88, 88, 88);
  font-size: 11px !important;
  margin-left: 15px !important;
  padding: 5px;
  text-transform: none;
  letter-spacing: 1.6px;
}

/* Media Queries */
@media (max-width: 768px) {
  .navigationMenu {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .submenu {
    width: 100%;
    box-shadow: none;
  }

  .banners img {
    max-width: 280px;
  }
}


.footerMenu {
  color: #333;
}

.footerTop {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;
}

.footerTop p {
  margin: 10px 0;
  font-weight: bold;
}

.emailSubscription {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.emailSubscription input {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  width: 425px;
  background-color: white;
}

.emailSubscription button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 2px;
  width: 90px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.footerMiddle {
  font-family: 'AzoSansMedium', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  font-size: 13px;
}
.footerMiddle a{
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 11px !important; 
}

.footerColumn {
  flex: 1;
  max-width: 200px;
  margin: 0 10px;
}

.footerColumn a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.footerColumn a:hover {
  color: #000;
}

.socialIcons {
  display: flex;
  padding: 0 0 0 23px;
}

.socialIcons img {
  height: 40px;
  transition: transform 0.3s;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.additionalFooterLinks {
  display: flex;
  color: white;
  padding: 0 0 32px 30px;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
  text-transform: uppercase;
  gap: 20px;
}
.additionalFooterLinks a{
  font-size: 12px !important;

}
.lastPartFooter {
  background-color: black;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footerMiddle {
    flex-direction: column;
    align-items: center;
  }

  .footerColumn {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.socialImage img {
  margin: 15px;
}






/* Hero Banner Styles */
/* Hero Banner Styles */
.heroBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Ensures the background covers the banner area */
    background-position: center; /* Center the background image */
}

.heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
    z-index: 2; /* Ensures the text is above the image */
    width: 100%; /* Ensures content aligns with the hero banner width */
    padding: 20px; /* Adds padding around the text for better readability */
}

.heroContent button {
  background: white;
  color: black;
  width: 14vw;
  padding: 0.8vw 0vw 0.6vw;
  font-size: .9vw;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 100px;
  cursor: pointer;
  
}


.heroContent button:hover {
    text-decoration: underline; /* Hover background color */
  }
.firstParagraph span{
  font-size: 1.997vw !important;
  text-align: center !important;
  line-height: 1 !important;
  margin: 0 !important;
}

.inlineParagraphs {
  display: flex; /* Aligns children (span) in a row */
  align-items: center; /* Aligns items vertically */
}

.boldText {
  font-weight: bold !important; /* Makes text bold */
  margin-right: 10px; /* Adds space between the second and third paragraphs */
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
    .heroBanner {
        height: 300px; /* Smaller height on mobile devices */
    }

    .heroContent p {
        font-size: 18px; /* Smaller font size on mobile */
    }

    .heroContent button {
        font-size: 14px; /* Smaller button text on mobile */
        padding: 8px 16px; /* Smaller padding on mobile */
    }
}

/* Categories Section Styles */
.categoriesSection {
  display: flex;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.categoryContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Each card (50% width and full height) */
.categoryCard {
  flex: 1; /* Each card takes up 50% of the width */
  position: relative;
  background-size: cover;
  background-position: center !important;
}

/* Button Container */
.categoryContent {
  position: absolute;
  top: 1rem;
}

/* Left Button */
.leftButton {
  left: 1rem;
  text-align: left;
}

/* Right Button */
.rightButton {
  right: 1rem;
  text-align: right;
}

/* Button Styles */
.categoryButton {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}
